@model vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.ActionMovies.Count > 0 ? "popular" : null;
}

<h2>MOVIES</h2>

<p>Action</p>

@if (Model.ActionMovies.Count == 0)
{
    <p>No movies .</p>
}
else
{
    <ul>
        @foreach (var movie in Model.ActionMovies)
        {
            <li>@movie.Name</li>
        }
    </ul>
}

<p>Cartoon</p>

@if (Model.CartoonMovies.Count == 0)
{
    <p>No movies .</p>
}
else
{
    <ul>
        @foreach (var movie in Model.CartoonMovies)
        {
            <li>@movie.Name</li>
        }
    </ul>



}

<p>AmericanSeries</p>

@if (Model.AmericanSeries.Count == 0)
{
    <p>No movies .</p>
}
else
{
    <ul>
        @foreach (var movie in Model.AmericanSeries)
        {
            <li>@movie.Name</li>
        }
    </ul>

}



